body {
    /*background-image: url(//unsplash.it/500/500/?random);*/
    margin: 0% auto;
    max-width: 960px;
    width: 96%;
}

h1 {
    color: green;
}

p {
    text-align: justify;
}

.r1 {
    padding-bottom: 46.6%;
    width: 100%;
}

.r2 {
    padding-bottom: 56.2%;
    width: 100%;
}

.r3 {
    padding-bottom: 97.8%;
    width: 100%;
}

.responsive {
    background-color: beige;
    height: 0;
    position: relative;
}

.responsive img, .responsive object, .responsive svg {
    /*max-width: 100%;*/
    height: auto;
    position: absolute;
    width: 100%;
}

@media (min-width: 400px) {
    h1 {
        color: red;
    }
}

@media (min-width: 600px) {
    h1 {
        color: blue;
    }
    .column {
        /*background-color: olive;*/
        float: left;
        box-sizing: border-box;
        width: 50%;
        padding: 0 1%;
    }
}

#owl path {
    stroke: green;
}